html, body {
    height: 100%;
    width: 100%;
    background-color: #40464b;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, .7);
}

#route_stops div {
    height: 30px;
    line-height: 30px;
    margin-left: 20px;
    cursor: pointer;
}

#route_stops div label {
    user-select: none;
}

#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

#menu {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    height: calc(100% - 50px);
    max-height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
}